h2 {
	font-family: Arial, sans-serif;
	text-align: center;
}

#grid {
	display: block;
  	padding: 0;
    margin: auto;
	margin-top: 100px;
}

#outer-container {
	width: 500px;
	margin: auto;
}

.square {
	position: relative;
	width: 150px;
	height: 150px;
	border: 1px solid #dddddd;
	float: left;
}

.symbol {
	font-family: Arial, sans-serif;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
  	vertical-align: middle;
  	padding-top: 35px;
}

.x {
	color: black;
}

.o {
	color: red;
}